.contato
    margin 40px 0 !important
    .inner
        width 37%
        margin 0 auto
        text-align center
        +below($tablet)
            width 80%
        +mobile()
            width 100%
        p
            opensans 14
            span
                opensans 14 bold
                display block
                margin-bottom 5px
            a
                opensans 14 bold
                color black
                text-decoration none
        form
            width 100%
            margin-top 35px
            input
            textarea
                width 100%
                opensans 14
                background black
                color white
                border 0
                outline 0
                margin-bottom 10px
                padding 8px
            textarea
                resize none
                height 200px
            input[type=submit]
                background transparent
                border 1px solid black
                text-transform uppercase
                color black
                transition color .3s ease, background .3s ease
                &:hover
                    color white
                    background black
            #form-resposta
                display none
                background #d4d4d4
                padding 10px
                opensans 12
                margin-bottom 25px

.googlemaps
    iframe
        width 100%
        height 275px
    +mobile()
        margin-top 30px

.copyright
    background black
    padding 20px
    clearfix()
    +mobile()
        padding 15px
    p
        cursor default
        display block
        margin 0
        opensans 10
        color #646464
        +mobile()
            opensans 9
        &.left
            float left
            +mobile()
                float none
                display block
                text-align center
        &.right
            float right
            +mobile()
                float none
                display block
                text-align center
                margin-top 10px
            a
                display inline-block
                text-decoration none
                color #646464
                transition color .3s ease
                &:hover
                    color #A0A0A0
                &.trupe
                    position relative
                    padding-right 28px
                    &:after
                        content ""
                        display block
                        position absolute
                        right 0
                        top 0
                        width 19px
                        height 15px
                        background $img('trupe.png') no-repeat center
