#slideshow
    position absolute
    width 100%
    height 100%
    top 0
    left 0
    z-index -1
    overflow hidden
    &:after
        content ""
        position absolute
        display block
        width 100%
        height 100%
        top 0
        left 0
        z-index 9999
        background rgba(35, 31, 32, .4)
    div
        position absolute
        width 100%
        height 100%
        background-size cover
        background-position center
        background-repeat no-repeat

.preloader
    position absolute
    width 100%
    height 100%
    top 0
    left 0
    z-index 9999
    overflow hidden
    background white
    .preloader-logo
        position absolute
        width 210px
        height 47px
        background $img('loading.png') no-repeat center
        left 50%
        top 45%
        margin-left -105px
        margin-top -30px
        span
            display block
            position absolute
            left 0
            bottom -40px
            height 2px
            width 100%
            height 16px
            background $img('load.gif') no-repeat center
