.perfil
    clearfix()
    .texto
        width 37%
        margin 0 20% 0 43%
        .logo
            width 230px
            height 51px
            margin-bottom 50px
            background $img('perfil-logo.png') no-repeat center
            +mobile()
                margin 10px 0 25px
        h2
            margin 0 0 5px
            opensans 19 semibold
        p
            opensans 14
            line-height 1.7
            margin 0 0 20px
        +below($tablet)
            width 45%
            float right
            margin-right 10%
        +mobile()
            width 100%
            float none
            margin 0

.perfil-bg
    position fixed
    width desktop-base-width
    height 100%
    top 0
    left 50%
    margin-left -(desktop-base-width / 2)
    background $img('perfil-foto.jpg') no-repeat left top
    +below($tablet)
        width 100%
        left 0
        margin 0
        background-size 30% auto
    +mobile()
        display none
