.grid
    .thumb
        position relative
        text-decoration none
        display block
        margin-bottom 30px
        +below($tablet)
            margin-bottom 18px
        img
            display block
            width 100%
            height auto
        .overlay
            position absolute
            opacity 0
            transition opacity .3s ease
            width 100%
            height 100%
            top 0
            left 0
            background $img('mais.png') no-repeat bottom right rgba(0, 0, 0, .7)
            span
                display block
                position absolute
                left 20px
                bottom 20px
                width 50%
                opensans 15
                text-transform uppercase
                color white
                strong
                    opensans 14 bold
                    text-transform lowercase
            +below($tablet)
                display none
        &:hover .overlay
            opacity 1
    &.grid-projetos-mostras
        .thumb
        .grid-sizer
            width 31.3%
            +below($tablet)
                width 48.5%
            +mobile()
                width 100%
        .gutter-sizer
            width 3%
            +mobile()
                width 0
    &.grid-imprensa
        .thumb
        .grid-sizer
            width 22.75%
            +below($tablet)
                width 31.3%
            +mobile()
                width 48%
        .gutter-sizer
            width 3%
            +mobile()
                width 4%

    .hidden
        width 0
        height 0
        visibility hidden
        display none

.imprensa
    clearfix()
    .imprensa-thumb
        position relative
        text-decoration none
        display block
        width 23%
        margin-bottom 2.1%
        background #E6E6E6
        float left
        margin-right 2.1%
        border 2px solid transparent
        transition border .3s
        overflow hidden
        &:hover
            border 2px solid #000
        &:nth-child(4n)
            margin-right 0
        +tablet()
            width 31.933%
            .quadrado span
                font-size 14px !important
            &:nth-child(4n)
                margin-right 2.1%
            &:nth-child(3n)
                margin-right 0
        +mobile()
            width 48.95%
            .quadrado span
                font-size 12px !important
            &:nth-child(4n)
                margin-right 2.1%
            &:nth-child(2n)
                margin-right 0
        .quadrado
            width 100%
            height 0
            padding-bottom 100%
            &:after
                content ''
                position absolute
                width 30px
                height 30px
                left 50%
                margin-left -15px
                bottom 10px
                background-position center
                background-repeat no-repeat
            &.quadrado-link:after
                background-image url('../img/layout/midia-link.png')
            &.quadrado-pdf:after
                background-image url('../img/layout/midia-pdf.png')
            &.quadrado-imagem:after
                bottom 50% !important
                transform translateY(50%)
            &.quadrado-video:after
                transform translateY(50%)
                bottom 50% !important
                background-image url('../img/layout/midia-play.png')
            .imagem
                position absolute
                width 90%
                height 90%
                top 5%
                left 5%
                background-size contain
                background-repeat no-repeat
                background-position center center
            span
                position absolute
                width 90%
                top 50%
                left 5%
                transform translateY(-50%)
                text-align center
                opensans 15
                color #000
