nav#desktop
    width 12%
    float right
    text-align right
    +below($tablet)
        width 20%
    +mobile()
        display none
    h1
        display inline-block
        margin 0 0 20px
        a
            display block
            width 85px
            height 99px
            text-align left
            text-indent -9999px
            background $img('simbolo-menu.png') no-repeat center
    ul
        list-style-type none
        margin 0
        padding 0
        &.menu
            li
                margin-bottom 15px
                &:last-child
                    margin 0
                a
                    text-decoration none
                    color black
                    opensans 15
                    text-transform uppercase
                    &.active
                        opensans 15 bold
        &.social
            margin-top 20px
            li
                display inline-block
                a
                    display block
                    width 21px
                    height 21px
                    margin-left 4px
                    text-align left
                    text-indent -9999px
                    &.facebook
                        background $img('facebook-b.png') no-repeat center
                    &.pinterest
                        background $img('pinterest-b.png') no-repeat center
                    &.instagram
                        background $img('instagram-b.png') no-repeat center
    &.home
        .menu li a
            color white
        .social li a
            &.facebook
                background $img('facebook-w.png') no-repeat center
            &.pinterest
                background $img('pinterest-w.png') no-repeat center
            &.instagram
                background $img('instagram-w.png') no-repeat center

.content
    width 88%
    height 100%
    float left
    margin 99px 0 60px
    +below($tablet)
        width 80%
    +mobile()
        width 100%
        margin 25px 0 0

#header-mobile
    display none
    height 85px
    background #231f20
    box-shadow 0 1px 3px rgba(0, 0, 0, .5)
    +mobile()
        display block
    h1
        display block
        width 85px
        height 100%
        margin 0
        float left
        text-indent -9999px
        background $img('simbolo-menu.png') no-repeat center bottom
        a
            display block
            width 100%
            height 100%
    button
        display block
        background-color white
        border 0
        float right
        height 85px
        width 85px
        outline 0
        padding 0
        .lines
            display block
            width 40%
            height 3px
            margin 41px auto
            background #231f20
            position relative
            transition .3s ease
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 3px
                background #231f20
                transition .3s ease
            &:before
                top 8px
            &:after
                top -8px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)

nav#mobile
    +above($mobile)
        display none !important
    display none
    position absolute
    width 100%
    top 85px
    left 0
    z-index 9999
    background rgba(0, 0, 0, .85)
    padding 20px
    ul
        list-style-type none
        padding 0
        &.menu
            a
                display block
                text-align center
                color white
                text-decoration none
                margin 15px 0
                text-transform uppercase
                opensans 15
                &.active
                    opensans 15 bold
        &.social
            margin-top 35px
            text-align center
            li
                display inline-block
                a
                    display block
                    width 21px
                    height 21px
                    margin-left 4px
                    text-align left
                    text-indent -9999px
                    &.facebook
                        background $img('facebook-w.png') no-repeat center
                    &.pinterest
                        background $img('pinterest-w.png') no-repeat center
                    &.instagram
                        background $img('instagram-w.png') no-repeat center

.not-found
    text-align center
    h1
        display inline-block
        padding 10px
        border 1px solid black
        opensans 14
        font-weight 400
        text-transform uppercase
        margin 0
        +mobile()
            margin-top 30px

.help-mobile
    display none
    +mobile()
        display block
        margin-top 7%
        p
            display block
            width 100%
            margin 0
            padding 10px
            border 1px dashed black
            opensans 12
            text-align center
