// Responsive
desktop-base-width     = 1080px
rupture.desktop-cutoff = $tablet = 1080px
rupture.mobile-cutoff  = $mobile = 620px

// Images path
$img($image)
    url('../img/layout/' + $image)

// Colors


// Fonts
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600,800')
opensans($size, $style = normal)
    font-size $size + 0px
    font-family 'Open Sans', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    if $style == semibold
        font-weight 600
    if $style == bold
        font-weight 800
